@font-face {
  font-family: AvenirNextLTPro;
  src: url(../../assets/font/AvenirNextLTPro.otf) format("opentype");
  src: url(../../assets/font/AvenirNextLTPro-Bold.otf) format("opentype");
  src: url(../../assets/font/AvenirNextLTPro-Demi.otf) format("opentype");
}
* {
  font-family: "AvenirNextLTPro";
  width: auto;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 320px) {
  .subheader {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 24px 16px 16px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .subheader {
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .subheader {
    padding: 48px 36px 36px 36px;
  }
}

.navbar {
  background-color: #323232;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10rem;
}
.navbar__list {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
@media only screen and (min-width: 320px) {
  .navbar__list {
    padding: 0px 16px 0px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .navbar__list {
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__list {
    padding: 48px 36px 36px 36px;
  }
}
.navbar__item {
  display: inline-block;
  text-align: left;
}
.navbar__link {
  display: block;
  padding: 1.5rem;
  font-size: 1.5rem;
  color: #ffffff;
}
@media only screen and (min-width: 320px) {
  .navbar__link {
    padding: 0px 16px 0px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .navbar__link {
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__link {
    padding: 48px 36px 36px 36px;
  }
}

@media only screen and (min-width: 320px) {
  .bandsite-logo {
    width: 10rem;
    height: 3rem;
  }
}
@media only screen and (min-width: 320px) {
  .bandsite-logo--header {
    padding: 24px 16px 16px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .bandsite-logo--header {
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .bandsite-logo--header {
    padding: 48px 36px 36px 36px;
  }
}

.hero {
  display: flex;
  height: auto;
  background-color: #323232;
}
.hero__image {
  height: 20%;
  width: 100%;
  opacity: 0.5;
}
.hero__header {
  color: #ffffff;
  position: relative;
  top: calc(50% - 60px);
}

.about__image {
  width: 90%;
}
@media only screen and (min-width: 320px) {
  .about__image {
    padding: 0px 16px 16px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .about__image {
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .about__image {
    padding: 48px 36px 36px 36px;
  }
}
@media only screen and (min-width: 320px) {
  .about__quote {
    padding: 24px 16px 16px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .about__quote {
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .about__quote {
    padding: 48px 36px 36px 36px;
  }
}
@media only screen and (min-width: 320px) {
  .about__header {
    padding: 24px 16px 16px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .about__header {
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .about__header {
    padding: 48px 36px 36px 36px;
  }
}
@media only screen and (min-width: 320px) {
  .about__text {
    padding: 24px 16px 16px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .about__text {
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .about__text {
    padding: 48px 36px 36px 36px;
  }
}

.photogallery__container {
  display: flex;
  flex-direction: column;
}
.photogallery__image {
  width: 90%;
}
@media only screen and (min-width: 320px) {
  .photogallery__image {
    padding: 24px 16px 16px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .photogallery__image {
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .photogallery__image {
    padding: 48px 36px 36px 36px;
  }
}

.footer {
  background-color: #323232;
}/*# sourceMappingURL=bio.css.map */