@font-face {
  font-family: AvenirNextLTPro;
  src: url(../../assets/font/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: AvenirNextLTPro;
  src: url(../../assets/font/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: AvenirNextLTPro;
  src: url(../../assets/font/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
}
* {
  font-family: "AvenirNextLTPro";
  width: auto;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 320px) {
  .subheader {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 24px 16px 16px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .subheader {
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .subheader {
    padding: 48px 36px 36px 36px;
  }
}

.navbar {
  background-color: #323232;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 320px) {
  .navbar {
    height: 9.7rem;
  }
}
.navbar__list {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  text-align: center;
}
@media only screen and (min-width: 320px) {
  .navbar__list {
    padding: 0px 16px 0px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .navbar__list {
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__list {
    padding: 48px 36px 36px 36px;
  }
}
.navbar__item {
  display: inline-block;
  text-align: left;
  width: 50%;
}
.navbar__link, .navbar__link--current {
  display: block;
  padding: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #e1e1e1;
}
@media only screen and (min-width: 320px) {
  .navbar__link, .navbar__link--current {
    padding: 8px 16px 16px 16px;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .navbar__link, .navbar__link--current {
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__link, .navbar__link--current {
    padding: 48px 36px 36px 36px;
  }
}
.navbar__link--current {
  color: #ffffff;
  border-bottom: 8px solid #ffffff;
}

@media only screen and (min-width: 320px) {
  .bandsite-logo {
    width: 10rem;
    height: 3rem;
  }
}
@media only screen and (min-width: 320px) {
  .bandsite-logo--header {
    padding: 24px 16px 16px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .bandsite-logo--header {
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .bandsite-logo--header {
    padding: 48px 36px 36px 36px;
  }
}
.bandsite-logo--footer {
  height: -moz-max-content;
  height: max-content;
  display: inline-block;
}
@media only screen and (min-width: 320px) {
  .bandsite-logo--footer {
    width: 10rem;
    height: 3rem;
    padding: 24px 16px 0px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .bandsite-logo--footer {
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .bandsite-logo--footer {
    padding: 48px 36px 36px 36px;
  }
}

.hero {
  display: flex;
  align-items: center;
  height: 15rem;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__header {
  color: #ffffff;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding: 0 16px 0 16px;
}

.about__image {
  width: 95%;
}
@media only screen and (min-width: 320px) {
  .about__image {
    padding: 0px 16px 16px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .about__image {
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .about__image {
    padding: 48px 36px 36px 36px;
  }
}
@media only screen and (min-width: 320px) {
  .about__quote {
    padding: 24px 16px 16px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .about__quote {
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .about__quote {
    padding: 48px 36px 36px 36px;
  }
}
@media only screen and (min-width: 320px) {
  .about__header {
    font-size: 14px;
    font-weight: 600;
    padding: 24px 16px 16px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .about__header {
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .about__header {
    padding: 48px 36px 36px 36px;
  }
}
@media only screen and (min-width: 320px) {
  .about__text {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    padding: 0px 16px 16px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .about__text {
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .about__text {
    padding: 48px 36px 36px 36px;
  }
}

@media only screen and (min-width: 320px) {
  .photogallery__container {
    display: flex;
    flex-direction: column;
    padding: 0px 16px 0px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .photogallery__container {
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .photogallery__container {
    padding: 48px 36px 36px 36px;
  }
}
.photogallery__image {
  width: 100%;
}
@media only screen and (min-width: 320px) {
  .photogallery__image {
    padding: 0 0 16px 0;
  }
}
@media only screen and (min-width: 768px) {
  .photogallery__image {
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .photogallery__image {
    padding: 48px 36px 36px 36px;
  }
}

.footer {
  background-color: #323232;
  height: -moz-fit-content;
  height: fit-content;
}
.footer__subheader {
  color: #ffffff;
}
@media only screen and (min-width: 320px) {
  .footer__subheader {
    padding: 24px 16px 16px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .footer__subheader {
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__subheader {
    padding: 48px 36px 36px 36px;
  }
}
@media only screen and (min-width: 320px) {
  .footer__link {
    padding: 24px 16px 16px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .footer__link {
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__link {
    padding: 48px 36px 36px 36px;
  }
}
.footer__text, .footer__text--bold {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media only screen and (min-width: 320px) {
  .footer__text, .footer__text--bold {
    padding: 0px 16px 16px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .footer__text, .footer__text--bold {
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__text, .footer__text--bold {
    padding: 48px 36px 36px 36px;
  }
}
.footer__text--bold {
  font-weight: 700;
  padding: 24px 16px 16px 16px;
}/*# sourceMappingURL=bio.css.map */