@use "./partials/mixins" as *;
@use "./partials/fonts" as *;
@use "./partials/colors" as *;

// Global CSS

* {
  font-family: "AvenirNextLTPro";
  width: auto;
  margin: 0;
}

li {
  list-style: none;
  text-align: center;
}

a {
  text-align: center;
  text-decoration: none;
}

.subheader {
  color: $bandsite-black;

  @include phone {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 24px 16px 16px 16px;
  }

  @include tablet {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    padding: 48px 36px 36px 36px;
  }

  @include desktop {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    padding: 48px 36px 36px 36px;
  }
}

// Navigation Section
.navbar {
  background-color: $bandsite-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include phone {
    height: 9.7rem;
  }

  @include tablet {
    height: 6rem;
    flex-direction: row;
    align-items: center;
  }

  @include desktop {
  }

  &__list {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    text-align: center;
    @include phone {
      padding: 0px 16px 0px 16px;
    }

    @include tablet {
      width: 40%;
      height: 3rem;
      justify-content: space-evenly;
      text-align: center;
      align-items: center;
      padding: 48px 0px 36px 0px;
    }

    @include desktop {
      padding: 48px 36px 36px 36px;
    }
  }

  &__item {
    display: inline-block;
    text-align: left;

    @include phone {
      width: 50%;
    }

    @include tablet {
      width: 29%;
    }

    @include desktop {
    }
  }

  &__link {
    display: block;
    height: auto;
    padding: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: $mercury;

    @include phone {
      padding: 8px 16px 16px 16px;
      width: auto;
      font-size: 1.5rem;
    }

    @include tablet {
      padding: 16px 16px 16px 16px;
      height: 2.8rem;
      width: 7rem;
      text-align: center;
      font-size: 1.5rem;
    }

    @include desktop {
      padding: 48px 36px 36px 36px;
    }

    &--current {
      @extend .navbar__link;
      color: $white;

      @include phone {
        border-bottom: 8px solid $white;
      }

      @include tablet {
        height: 2.8rem;
        padding: 21px 16px 16px 16px;
        border-bottom: 5px solid $white;
      }

      @include desktop {
      }
    }
  }
}

.bandsite-logo {
  @include phone {
    width: 10rem;
    height: 3rem;
  }

  @include tablet {
    width: 12rem;
  }

  @include desktop {
  }

  &--header {
    @include phone {
      padding: 24px 16px 16px 16px;
    }

    @include tablet {
      padding: 48px 36px 36px 36px;
    }

    @include desktop {
      padding: 48px 36px 36px 36px;
    }
  }

  &--footer {
    height: max-content;
    display: inline-block;
    @include phone {
      width: 10rem;
      height: 3rem;
      padding: 24px 16px 0px 16px;
    }

    @include tablet {
      padding: 48px 36px 36px 36px;
    }

    @include desktop {
      padding: 48px 36px 36px 36px;
    }
  }
}

// Hero Section
.hero {
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
    url("../assets/images/hero-bio.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include phone {
    height: 15rem;
  }

  @include tablet {
    height: 35rem;
  }

  @include desktop {
  }

  &__header {
    color: $white;
    @include phone {
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
      padding: 0 16px 0 16px;
    }

    @include tablet {
      font-size: 60px;
      line-height: 68px;
      font-weight: 700;
      padding: 0 36px 0 36px;
    }

    @include desktop {
      font-size: 60px;
      line-height: 68px;
    }
  }
}
// About Section

.about {
  &__subheader {
    @extend .subheader;
  }

  &__imageholder {
    text-align: center;
  }
  &__image {
    width: 95%;
    @include phone {
      padding: 0px 16px 16px 16px;
    }

    @include tablet {
      width: 80%;
      height: 500px;
      display: inline;
      margin: 0;
      padding: 0px 36px 36px 36px;
    }

    @include desktop {
      padding: 0px 36px 36px 36px;
    }
  }

  &__quotecontainer {
    @include tablet {
      display: block;
      width: 80%;
      text-align: center;
    }
  }

  &__quote {
    color: $bandsite-black;
    @include phone {
      padding: 24px 16px 16px 16px;
    }

    @include tablet {
      width: 100%;
      font-size: 24px;
      line-height: 32px;
      display: inline-block;
      text-align: left;
      padding: 16px 36px 36px 80px;
    }

    @include desktop {
      padding: 48px 36px 36px 36px;
    }
  }

  &__header {
    color: $bandsite-darkblack;
    @include phone {
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
      padding: 24px 16px 16px 16px;
    }

    @include tablet {
      padding: 48px 36px 36px 36px;
    }

    @include desktop {
      padding: 48px 36px 36px 36px;
    }
  }

  &__text {
    color: $bandsite-black;
    @include phone {
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      padding: 0px 16px 16px 16px;
    }

    @include tablet {
      padding: 48px 36px 36px 36px;
    }

    @include desktop {
      padding: 48px 36px 36px 36px;
    }
  }
}

// Photogallery section

.photogallery {
  background-color: $alabaster;

  &__container {
    @include phone {
      display: flex;
      flex-direction: column;
      padding: 0px 16px 0px 16px;
    }

    @include tablet {
      padding: 48px 36px 36px 36px;
    }

    @include desktop {
      padding: 48px 36px 36px 36px;
    }
  }
  &__image {
    width: 100%;
    @include phone {
      padding: 0 0 16px 0;
    }

    @include tablet {
      width: 90%;
      padding: 48px 36px 36px 36px;
    }

    @include desktop {
      padding: 48px 36px 36px 36px;
    }
  }
}
//Footer Section

.footer {
  background-color: $bandsite-black;
  height: fit-content;

  &__subheader {
    color: $white;
    @include phone {
      padding: 24px 16px 16px 16px;
    }

    @include tablet {
      padding: 48px 36px 36px 36px;
    }

    @include desktop {
      padding: 48px 36px 36px 36px;
    }
  }

  &__link {
    @include phone {
      padding: 24px 16px 16px 16px;
    }

    @include tablet {
      padding: 48px 36px 36px 36px;
    }

    @include desktop {
      padding: 48px 36px 36px 36px;
    }
  }

  &__text {
    color: $white;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;

    @include phone {
      padding: 0px 16px 16px 16px;
    }

    @include tablet {
      padding: 48px 36px 36px 36px;
    }

    @include desktop {
      padding: 48px 36px 36px 36px;
    }

    &--bold {
      @extend .footer__text;
      font-weight: 700;
      padding: 24px 16px 16px 16px;
    }
  }
}
