@font-face {
  font-family: AvenirNextLTPro;
  src: url(../assets/font/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: AvenirNextLTPro;
  src: url(../assets/font/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: AvenirNextLTPro;
  src: url(../assets/font/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
}
.navbar {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .navbar {
    height: 9.7rem;
  }
}
@media only screen and (min-width: 768px) {
  .navbar {
    height: 6rem;
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .navbar {
    height: 6rem;
    flex-direction: row;
    align-items: center;
  }
}
.navbar__list {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .navbar__list {
    padding: 0px 16px 0px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .navbar__list {
    width: 40%;
    height: 3rem;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding: 48px 0px 36px 0px;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__list {
    width: 20%;
    height: 3rem;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding: 48px 36px 36px 36px;
  }
}
.navbar__item {
  display: inline-block;
  text-align: left;
}
@media only screen and (max-width: 768px) {
  .navbar__item {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .navbar__item {
    width: auto;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__item {
    width: auto;
  }
}
.navbar__link, .navbar__link--current {
  display: block;
  height: auto;
  padding: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #e1e1e1;
}
@media only screen and (max-width: 768px) {
  .navbar__link, .navbar__link--current {
    padding: 8px 16px 16px 16px;
    width: auto;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .navbar__link, .navbar__link--current {
    padding: 16px 16px 16px 16px;
    height: 2.8rem;
    width: auto;
    text-align: center;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__link, .navbar__link--current {
    margin: 36px 36px 36px 36px;
    height: 2.8rem;
    width: 7rem;
    text-align: center;
    font-size: 1.5rem;
  }
}
.navbar__link:hover, .navbar__link--current:hover {
  color: #ffffff;
}
.navbar__link--current {
  color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .navbar__link--current {
    border-bottom: 8px solid #ffffff;
  }
}
@media only screen and (min-width: 768px) {
  .navbar__link--current {
    height: 2.8rem;
    width: auto;
    padding: 21px 16px 16px 16px;
    border-bottom: 5px solid #ffffff;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__link--current {
    height: 2.8rem;
    width: auto;
    padding: 21px 16px 16px 16px;
    border-bottom: 5px solid #ffffff;
  }
}

.footer {
  background-color: #323232;
  height: -moz-fit-content;
  height: fit-content;
}
.footer__subheader {
  color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .footer__subheader {
    padding: 24px 16px 16px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .footer__subheader {
    font-size: 36px;
    display: inline-block;
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__subheader {
    padding: 48px 36px 36px 88px;
  }
}
@media only screen and (min-width: 768px) {
  .footer__image {
    width: 36px;
    height: 36px;
  }
}
@media only screen and (max-width: 768px) {
  .footer__icon {
    padding: 24px 0px 16px 0px;
  }
}
@media only screen and (min-width: 768px) {
  .footer__icon {
    font-size: 36px;
    display: inline-block;
    padding: 48px 36px 36px 0px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__icon {
    padding: 48px 36px 36px 36px;
  }
}
@media only screen and (max-width: 768px) {
  .footer__link {
    padding: 24px 16px 16px 16px;
    font-size: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .footer__link {
    padding: 48px 16px 0px 16px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__link {
    padding: 48px 36px 36px 36px;
  }
}
@media only screen and (min-width: 768px) {
  .footer__contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1280px) {
  .footer__contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 56px;
  }
}
.footer__text, .footer__text--cc, .footer__text--bold {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media only screen and (max-width: 768px) {
  .footer__text, .footer__text--cc, .footer__text--bold {
    padding: 0px 16px 16px 16px;
    text-align: left;
  }
}
@media only screen and (min-width: 768px) {
  .footer__text, .footer__text--cc, .footer__text--bold {
    font-size: 14px;
    line-height: 18px;
    padding: 16px 16px 16px 36px;
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .footer__text, .footer__text--cc, .footer__text--bold {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    padding: 48px 36px 36px 36px;
  }
}
.footer__text--bold {
  font-weight: 700;
  padding: 24px 16px 16px 16px;
}
@media only screen and (min-width: 768px) {
  .footer__text--bold {
    padding: 16px 16px 16px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__text--cc {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    padding: 48px 36px 36px 88px;
  }
}

* {
  font-family: "AvenirNextLTPro";
  width: auto;
  margin: 0;
}

li {
  list-style: none;
  text-align: center;
}

a {
  text-align: center;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .bandsite-logo {
    width: 10rem;
    height: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .bandsite-logo {
    width: 12rem;
  }
}
@media only screen and (max-width: 768px) {
  .bandsite-logo--header {
    padding: 24px 16px 16px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .bandsite-logo--header {
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .bandsite-logo--header {
    padding: 48px 36px 36px 88px;
  }
}
.bandsite-logo--footer {
  height: -moz-max-content;
  height: max-content;
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  .bandsite-logo--footer {
    width: 10rem;
    height: 3rem;
    padding: 24px 16px 0px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .bandsite-logo--footer {
    position: relative;
    width: 8rem;
    height: 2rem;
    top: -324px;
    left: 70%;
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .bandsite-logo--footer {
    padding: 48px 36px 36px 36px;
    position: relative;
    width: 8rem;
    height: 2rem;
    top: -420px;
    left: 70%;
    padding: 48px 36px 36px 36px;
  }
}

.hero {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 768px) {
  .hero {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 25rem;
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    height: 30rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    height: 30rem;
  }
}
.hero__subheader {
  color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .hero__subheader {
    font-size: 18px;
    margin: 32px 16px 32px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .hero__subheader {
    font-size: 18px;
    margin: 32px 16px 32px 16px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__subheader {
    font-size: 18px;
    margin: 32px 16px 32px 16px;
  }
}
.hero__header {
  color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .hero__header {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    padding: 0 16px 0 16px;
  }
}
@media only screen and (min-width: 768px) {
  .hero__header {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    padding: 0 16px 0 16px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__header {
    font-size: 60px;
    line-height: 68px;
    padding: 0 16px;
  }
}
@media only screen and (max-width: 768px) {
  .hero__player {
    margin: 32px 16px 32px 16px;
    width: 90%;
  }
}
@media only screen and (min-width: 768px) {
  .hero__player {
    margin: 32px 16px 32px 16px;
    width: 60%;
  }
}
@media screen and (min-width: 1280px) {
  .hero__player {
    width: 25%;
    margin: 32px 16px 32px 16px;
  }
}

@media screen and (min-width: 1280px) {
  .shows {
    height: 24rem;
    align-items: center;
  }
}
@media only screen and (max-width: 768px) {
  .shows__subheader {
    margin: 32px 16px 32px 16px;
  }
}
@media only screen and (min-width: 768px) {
  .shows__subheader {
    margin: 32px 16px 32px 16px;
  }
}
@media screen and (min-width: 1280px) {
  .shows__subheader {
    margin: 0px 16px 32px 16px;
  }
}
@media screen and (min-width: 1280px) {
  .shows__container {
    height: 20rem;
    display: flex;
    padding: 32px 16px 16px 16px;
    justify-content: space-around;
  }
}
@media only screen and (max-width: 768px) {
  .shows__table {
    border-collapse: collapse;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .shows__table {
    border-collapse: collapse;
    width: 100%;
    padding: 0 16px 0 16px;
  }
}
@media screen and (min-width: 1280px) {
  .shows__table {
    border-collapse: collapse;
    width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .shows__row {
    display: flex;
    flex-direction: column;
    height: auto;
    border-bottom: 1px solid #e1e1e1;
  }
}
@media only screen and (min-width: 768px) {
  .shows__row {
    height: auto;
    padding: 16px 0 16px 0;
    border-collapse: collapse;
  }
}
@media screen and (min-width: 1280px) {
  .shows__row {
    border-collapse: collapse;
    border-bottom: 1px solid black;
  }
}
.shows__row--selected {
  border-collapse: collapse;
  background-color: #e1e1e1;
  border-bottom: 1px solid black;
}
.shows__table-header {
  color: #afafaf;
}
@media only screen and (max-width: 768px) {
  .shows__table-header {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .shows__table-header {
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    font-weight: 600;
  }
}
@media only screen and (max-width: 768px) {
  .shows__date {
    margin: 16px;
    font-weight: 600;
  }
  .shows__date:before {
    content: "DATE";
    color: #afafaf;
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-bottom: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .shows__date {
    font-size: 14px;
    margin: 16px;
    font-weight: 600;
    border-bottom: 1px solid #e1e1e1;
  }
}
@media screen and (min-width: 1280px) {
  .shows__date {
    font-size: 14px;
    margin: 16px;
    font-weight: 600;
  }
}
@media only screen and (max-width: 768px) {
  .shows__venue {
    margin: 16px;
  }
  .shows__venue:before {
    content: "VENUE";
    color: #afafaf;
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-bottom: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .shows__venue {
    font-size: 14px;
    margin: 16px;
    border-bottom: 1px solid #e1e1e1;
  }
}
@media screen and (min-width: 1280px) {
  .shows__venue {
    font-size: 14px;
    margin: 16px;
  }
}
@media only screen and (max-width: 768px) {
  .shows__location {
    margin: 16px;
  }
  .shows__location:before {
    content: "LOCATION";
    color: #afafaf;
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-bottom: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .shows__location {
    font-size: 14px;
    border-bottom: 1px solid #e1e1e1;
  }
}
@media screen and (min-width: 1280px) {
  .shows__location {
    font-size: 14px;
    border-bottom: 1px solid #e1e1e1;
  }
}
@media only screen and (max-width: 768px) {
  .shows__button-row {
    margin: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .shows__button-row {
    margin: 16px;
    border-bottom: 1px solid #e1e1e1;
  }
}
@media screen and (min-width: 1280px) {
  .shows__button-row {
    margin: 16px;
    border-bottom: 1px solid #e1e1e1;
  }
}
.shows__button {
  height: 40px;
  color: #ffffff;
  background-color: #323232;
  border-radius: 5px;
  -o-border-image: none;
     border-image: none;
  border-style: none;
  text-align: center;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .shows__button {
    width: 100%;
    font-size: 12px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .shows__button {
    width: 100%;
    font-size: 12px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .shows__button {
    font-size: 12px;
    line-height: 20px;
  }
}
.shows__button:hover {
  background-color: #000000;
}
@media only screen and (max-width: 768px) {
  .shows__divide--solid {
    width: 100%;
    stroke-width: 1px;
    color: #e1e1e1;
  }
}
@media only screen and (min-width: 768px) {
  .shows__divide--solid {
    width: 100%;
    stroke-width: 1px;
    color: #e1e1e1;
  }
}
@media screen and (min-width: 1280px) {
  .shows__divide--solid {
    width: 100%;
    stroke-width: 1px;
    color: #e1e1e1;
  }
}/*# sourceMappingURL=shows.css.map */