@use "./partials/mixins" as *;
@use "./partials/fonts" as *;
@use "./partials/colors" as *;
@use "./partials/utility" as *;

// Global CSS

* {
  font-family: "AvenirNextLTPro";
  width: auto;
  margin: 0;
}

li {
  list-style: none;
  text-align: center;
}

a {
  text-align: center;
  text-decoration: none;
}

.bandsite-logo {
  @include phone {
    width: 10rem;
    height: 3rem;
  }

  @include tablet {
    width: 12rem;
  }

  @include desktop {
  }

  &--header {
    @include phone {
      padding: 1.5rem 1rem 1rem 1rem;
    }

    @include tablet {
      padding: 3rem 2.25rem 2.25rem 2.25rem;
    }

    @include desktop {
      padding: 3rem 2.25rem 2.25rem 5.5rem;
    }
  }

  &--footer {
    height: max-content;
    display: inline-block;
    @include phone {
      width: 10rem;
      height: 3rem;
      padding: 1.5rem 1rem 0px 1rem;
    }

    @include tablet {
      position: relative;
      width: 8rem;
      height: 2rem;
      top: -20.25rem;
      left: 70%;
      padding: 3rem 2.25rem 2.25rem 2.25rem;
    }

    @include desktop {
      padding: 3rem 2.25rem 2.25rem 2.25rem;
      position: relative;
      width: 8rem;
      height: 2rem;
      top: --26.25rem;
      left: 70%;
      padding: 3rem 2.25rem 2.25rem 2.25rem;
    }
  }
}

// Hero Section
.hero {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
    url("../assets/images/hero-bio.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include phone {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 25rem;
  }

  @include tablet {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    height: 30rem;
  }

  @include desktop {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    height: 30rem;
  }

  &__subheader {
    color: $white;
    @include phone {
      font-size: 1.125rem;
      margin: 2rem 1rem 2rem 1rem;
    }

    @include tablet {
      font-size: 1.125rem;
      margin: 2rem 1rem 2rem 1rem;
    }

    @include desktop {
      font-size: 1.125rem;
      margin: 2rem 1rem 2rem 1rem;
    }
  }

  &__header {
    color: $white;
    @include phone {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 700;
      padding: 0 1rem 0 1rem;
    }

    @include tablet {
      font-size: 3.75rem;
      line-height: 4.25rem;
      font-weight: 700;
      padding: 0 1rem 0 1rem;
    }

    @include desktop {
      font-size: 3.75rem;
      line-height: 4.25rem;
      padding: 0 1rem;
    }
  }

  &__player {
    @include phone {
      margin: 2rem 1rem 2rem 1rem;
      width: 90%;
    }

    @include tablet {
      margin: 2rem 1rem 2rem 1rem;
      width: 60%;
    }

    @include desktop {
      width: 25%;
      margin: 2rem 1rem 2rem 1rem;
    }
  }
}

// Shows sections
.shows {
  @include phone {
  }

  @include tablet {
  }

  @include desktop {
    height: 24rem;
    align-items: center;
  }

  &__subheader {
    @include phone {
      margin: 2rem 1rem 2rem 1rem;
    }

    @include tablet {
      margin: 2rem 1rem 2rem 1rem;
    }

    @include desktop {
      margin: 0px 1rem 2rem 1rem;
    }
  }

  &__container {
    @include phone {
    }

    @include tablet {
    }

    @include desktop {
      height: 20rem;
      display: flex;
      padding: 2rem 1rem 1rem 1rem;
      justify-content: space-around;
    }
  }

  &__table {
    @include phone {
      border-collapse: collapse;
      width: 100%;
    }

    @include tablet {
      border-collapse: collapse;
      width: 100%;
      padding: 0 1rem 0 1rem;
    }

    @include desktop {
      border-collapse: collapse;
      width: 80%;
    }
  }

  &__row {
    @include phone {
      display: flex;
      flex-direction: column;
      height: auto;
      border-bottom: 0.063rem solid $mercury;
    }

    @include tablet {
      height: auto;
      padding: 1rem 0 1rem 0;
      border-collapse: collapse;
    }

    @include desktop {
      border-collapse: collapse;

      border-bottom: 0.063rem solid black;
    }
    &--selected {
      border-collapse: collapse;
      background-color: $mercury;
      border-bottom: 0.063rem solid black;
    }
  }

  &__table-header {
    color: $silver;
    @include phone {
      display: none;
    }

    @include tablet {
      text-align: left;
      font-weight: 600;
      font-size: 0.875rem;
      font-weight: 600;
    }

    @include desktop {
    }
  }

  &__date {
    @include phone {
      margin: 1rem;
      font-weight: 600;

      &:before {
        content: "DATE";
        color: $silver;
        font-size: 0.875rem;
        font-weight: 600;
        display: block;
        margin-bottom: 1rem;
      }
    }

    @include tablet {
      font-size: 0.875rem;
      margin: 1rem;
      font-weight: 600;
      border-bottom: 0.063rem solid $mercury;
    }

    @include desktop {
      font-size: 0.875rem;
      margin: 1rem;
      font-weight: 600;
    }
  }

  &__venue {
    @include phone {
      margin: 1rem;

      &:before {
        content: "VENUE";
        color: $silver;
        font-size: 0.875rem;
        font-weight: 600;
        display: block;
        margin-bottom: 1rem;
      }
    }

    @include tablet {
      font-size: 0.875rem;
      margin: 1rem;
      border-bottom: 0.063rem solid $mercury;
    }

    @include desktop {
      font-size: 0.875rem;
      margin: 1rem;
    }
  }

  &__location {
    @include phone {
      margin: 1rem;

      &:before {
        content: "LOCATION";
        color: $silver;
        font-size: 0.875rem;
        font-weight: 600;
        display: block;
        margin-bottom: 1rem;
      }
    }

    @include tablet {
      font-size: 0.875rem;
      border-bottom: 0.063rem solid $mercury;
    }

    @include desktop {
      font-size: 0.875rem;
      border-bottom: 0.063rem solid $mercury;
    }
  }

  &__button-row {
    @include phone {
      margin: 1rem;
    }

    @include tablet {
      margin: 1rem;
      border-bottom: 0.063rem solid $mercury;
    }

    @include desktop {
      margin: 1rem;
      border-bottom: 0.063rem solid $mercury;
    }
  }

  &__button {
    height: 2.5rem;
    color: $white;
    background-color: $bandsite-black;
    border-radius: 0.313rem;
    border-image: none;
    border-style: none;
    text-align: center;
    font-weight: bold;

    @include phone {
      width: 100%;
      font-size: 0.75rem;
      line-height: 1.25rem;
    }

    @include tablet {
      width: 100%;
      font-size: 0.75rem;
      line-height: 1.25rem;
    }

    @include desktop {
      font-size: 0.75rem;
      line-height: 1.25rem;
    }
    &:hover {
      background-color: $bandsite-darkblack;
    }
  }

  &__divide--solid {
    @include phone {
      width: 100%;
      stroke-width: 0.063rem;
      color: $mercury;
    }

    @include tablet {
      width: 100%;
      stroke-width: 0.063rem;
      color: $mercury;
    }

    @include desktop {
      width: 100%;
      stroke-width: 0.063rem;
      color: $mercury;
    }
  }
}
